/* Faz todos os SVGs herdarem a cor primária do theme por padrão */
svg {
  color: var(--color-primary);
}
:root {
  --color-primary: #1e293b; /* indigo-900 */
  --color-primary-hover: #312e81; /* indigo-800 */
  --color-secondary: #f1f5f9; /* slate-100 */
  --color-accent: #6366f1; /* indigo-500 */
  --color-bg: #f8fafc; /* slate-50 */
  --color-text: #111827; /* slate-900 */
  --color-border: #e5e7eb; /* gray-200 */
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.text-accent {
  color: var(--color-accent);
}
.border-primary {
  border-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
